*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
	--bg: #1d2021;
	--bg-soft: #32302f;
	--text: #f9f5d7;
	--white: #fbf1c7;
	--grey: #3c3836;
}

body {
	background-color: var(--bg); 
	color : var(--text);
	font-size: 16px;
}

.header {
	background-color: var(--bg-soft);
	border: 0;
	padding:  0.5rem 1rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navtool {
	display: flex;
	padding: 0.5rem 0;
}

.git, .title, .darkmode {
	background-color: var(--bg-soft);
	border: 0;
	border-style: none;
	font-weight: bold;
	color: var(--text);
}

.workspace {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	height: 92vh;
}

.code-container, .preview-container {
	min-width: 48vw;
	background-color: var(--grey);
	padding: 1.5rem;
	border-radius: 1rem;
	min-height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.toolbar {
	min-height: 20%;
	background-color: var(--bg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 0.5rem;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.8);
}

.topicons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.topicons>*, .bottomicons>* {
	border: 0;
	border-style: none;
	background-color: var(--bg);
	color: var(--text);
}

.codebox {
	min-width: 100%;
	min-height: 100%;
	background-color: var(--bg-soft);
	border: 0;
	border-style: none;
	border-radius: 10px;
	color: var(--text);
}

.previewbox {
	min-width: 100%;
	min-height: 100%;
}


@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 800px) {
}
