*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
	--bg: #1d2021;
	--bg-soft: #32302f;
	--text: #f9f5d7;
}

body {
	background-color: var(--bg); 
	color : var(--text);
	font-size: 14px;
}

.navcontainer {
	height: 20%;
}

.header {
	background-color: var(--bg-soft);
	border: 0;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navtool {
	display: flex;
	padding: 0.5rem 0;
}

.git, .title {
	background-color: var(--bg-soft);
	border: 0;
	border-style: none;
	font-weight: bold;
	color: var(--text);
}

.workspace {
	height: 80%;
	display: flex;
	justify-content: space-evenly;
}

.toolbar, .codearea, .previewarea {
}

.toolbar {
	background-color: red;
}

.codearea, .previewarea {
	background-color: blue;
}


@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 800px) {
}
